<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">About</h1>
</div>

<div class="page-container">

    <p>Blaze is a growing online digital blogging platform where users can share unique and memorable personal experience with people around the world. <a href="/new-blog">Start yours today!</a></p>
    
</div>

<%- include("partials/footer.ejs"); %>