<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">Latest Blogs</h1>
</div>

<div class="blog-category mb-0">

    <div class="category-header">
        <h2 class="category-title">Fascinating Stories Around the World</h1>
    </div>
    
    <div class="blog-post-group featured-blogs">
        <%- include("components/blogposts.ejs"); %>
    </div>

</div>

<%- include("partials/footer.ejs"); %>