<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">My Account</h1>
</div>

<div class="user-account">
    <div class="account-profile-image">
        <img src="images/ablazelilith.png" alt="Ablaze Lilith">
    </div>
    <div class="account-profile">
        <h3 class="acc-user-name">Ablaze Lilith</h3>
        <div class="acc-info">
            <div class="acc-info-item">
                <div class="acc-info-label">About me</div>
                <div class="acc-info-desc">A full stack developer loving candies, coffee, and coding.</div>
            </div>
            <div class="acc-info-item">
                <div class="acc-info-label">Occupation</div>
                <div class="acc-info-desc">Developer</div>
            </div>
            <div class="acc-info-item">
                <div class="acc-info-label">E-mail</div>
                <div class="acc-info-desc">ablazelilith@gmail.com</div>
            </div>
            <div class="acc-info-item">
                <div class="acc-info-label">Password</div>
                <div class="acc-info-desc">••••••••••</div>
            </div>
            <div class="acc-admin-panel">
                <div class="acc-info-item acc-admin">
                    <a href="">Edit<i class="fa-regular fa-pen-to-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs"); %>