<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">User Account</h1>
</div>

<div class="user-account">

    <div class="account-profile-image">
        <img src="images/ablazelilith.png" alt="Ablaze Lilith">
    </div>

    <div class="account-profile-container">

        <div class="account-profile">
            <h3 class="acc-user-name">My Account</h3>
            <div class="acc-info">
                <div class="acc-info-item">
                    <div class="acc-info-label">Name</div>
                    <div class="acc-info-desc">Ablaze Lilith</div>
                </div>
                <div class="acc-info-item">
                    <div class="acc-info-label">About</div>
                    <div class="acc-info-desc">A passionate developer at <a href="http://lilithapp.com" target="_blank" rel="noopener noreferrer">Lith (lithapp.com)</a></div>
                </div>
                <div class="acc-info-item">
                    <div class="acc-info-label">Occupation</div>
                    <div class="acc-info-desc">Full stack developer</div>
                </div>
                <div class="acc-info-item">
                    <div class="acc-info-label">Experience</div>
                    <div class="acc-info-desc">2 years</div>
                </div>
                <div class="acc-info-item">
                    <div class="acc-info-label">E-mail</div>
                    <div class="acc-info-desc">ablazelilith@gmail.com</div>
                </div>
                <div class="acc-info-item">
                    <div class="acc-info-label">Password</div>
                    <div class="acc-info-desc">••••••••••</div>
                </div>
                
            </div>
        </div>

        <div class="account-profile-edit">
            <a href="">
                <button class="secondary-button">
                    <!-- <i class="fa-solid fa-pen"></i> -->
                    Edit
                </button>
            </a>
        </div>

    </div>
    
</div>

<%- include("partials/footer.ejs"); %>