@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('styles/main.css');
@import url('styles/author-card.css');
@import url('styles/home-author-section.css');
@import url('styles/blog.css');
@import url('styles/boostrap.css');
@import url('styles/button.css');
@import url('styles/contact-card.css');
@import url('styles/footer.css');
@import url('styles/navbar.css');
@import url('styles/new-blog.css');
@import url('styles/single-post.css');
@import url('styles/user-account.css');
@import url('styles/utilities.css');