@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('navbar.css');
/*
************ Font List ************
font-family: 'Pacifico', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Griffy', cursive;
font-family: 'Sarina', cursive;
font-family: 'WindSong', cursive;
font-family: 'Rye', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Caudex', serif;
font-family: 'IM Fell English', serif;
font-family: 'IM Fell DW Pica', serif;
font-family: 'Gentium Book Plus', serif;
*/

.blog-post.horizontal {
    display: flex;
}

.blog-post.horizontal .blog-post-image-cover {
    width: 45%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.blog-post.horizontal .blog-post-image {
    width: 35%;
    width: 32%;
    width: 100%;
    border-radius: 10px;
    border-radius: 12px;
    border-radius: 14px;
    margin-bottom: 0;
    /* margin-right: 20px; */
    /* margin-right: 18px; */
    height: fit-content;
}

.blog-post.horizontal .blog-post-content {
    width: 65%;
    width: 68%;
    width: 55%;
    padding: 5px 0;
    padding: 8px 4px;
    padding: 6px 4px;
    /* padding: 10px 4px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .blog-post.horizontal */



.category-button {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.category-button i {
    margin-right: 8px;
}

.category-button .outline-button {
    font-size: 15.5px;
    padding: 14px 20px;
    padding: 14px 21px;
    border-radius: 10px;
    border-radius: 12px;
    border-radius: 11px;
}

/*********** Home: Section Author ***********/

.section-author {
    /* background-color: rgba(195, 194, 201, 0.3); */
    /* background-image: linear-gradient(0deg, transparent, rgb(190 185 202 / 40%)); */
    background-image: linear-gradient(0deg, transparent, rgb(190 185 202 / 50%));
    background-image: linear-gradient(0deg, rgb(121 109 190 / 20%), rgb(190 185 202 / 50%));
    background-image: linear-gradient(0deg, rgb(121 109 190 / 20%), rgb(190 185 202 / 40%));
    background-image: linear-gradient(0deg, rgb(132 125 173 / 20%), rgb(190 185 202 / 40%));
    background-image: linear-gradient(0deg, rgb(132 125 173 / 20%), rgb(188 182 203 / 30%));
    border-radius: 24px;
    border-radius: 36px;
    padding: 50px 60px;
    padding: 40px;
    padding: 40px 50px 45px;
    padding: 40px 40px 50px;
    padding: 40px 32px 50px;
    /* margin-top: 58px !important; */
    margin-bottom: 0 !important;
}

.section-author .author-list {
    padding-bottom: 8px;
    padding: 20px 15px 24px;
    padding: 0 15px 24px;
    padding: 16px 15px 24px;
    margin-bottom: 0;
    border-top: 0;
}

.section-author .sub-category-title {
    margin-bottom: 32px;
    padding-bottom: 0;
}

.section-author .section-title {
    margin-bottom: 20px;
}

.section-author .author-card.md {
    border-radius: 20px;
    padding: 8px;
}

.section-author .author-card-img img {
    border-radius: 12px;
}

/* .section-author .author-card.lg {
    margin: 0 24px;
    border-radius: 20px;
    padding: 8px;
} */

.section-author .author-card.md .author-card-info {
    margin-top: 12px;
    padding: 0 6px;
    margin-bottom: 4px;
}

.author-card-info.md .author-points-wrap {
    font-size: 13.5px; 
}

/* .section-author .author-points-wrap {
    font-size: 13px;
} */

.section-author .author-point {
    color: rgb(51 51 51 / 60%);
    margin-left: 6px
}

/* .section-author .author-card.sm {
    margin: 0 18px;
    padding: 6px;
} */

.section-author .author-card-img.sm {
    margin-bottom: 10px;
}

.section-author .author-card-info.sm {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 5px;
}

.section-author .author-card.sm h3 {
    font-size: 13.25px;
    /* margin-bottom: 2px; */
}

.section-author .author-card-img.lg,
.section-author .author-card-img.lg img {
    border-radius: 12px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.bt-0 {
    border-top: none !important;
}

/* .section-author.featured .author-card.sm {
    margin: 0 18px;
}

.section-author.featured .author-card.sm  {
    margin: 0 24px;
} */

/* ----- */



.section-title {
    font-weight: 600;
    font-size: 22px;
    color: #333;
    letter-spacing: .5px;
    margin-bottom: 20px;
    text-align: center;
}

html {
    background-color: #f2f2f2;
    background-image: linear-gradient(0deg, #c3bcd8, #F2F2F2);
    background-image: linear-gradient(0deg, #cecada, #f6f6f6);
    background-image: linear-gradient(0deg, #d2cedd, #f6f6f6);
    background-image: linear-gradient(0deg, rgb(210 206 221 / 80%), #f6f6f6);
    min-height: 100vh;
}

body {
    background-color: transparent;
    letter-spacing: .5px;
    letter-spacing: .25px;
    font-size: 15px;
}

.content-container {
    padding: 28px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/ablazelilith-bg-sm-6.png");
    background-repeat: no-repeat;
    height: 130px;
    background-size: cover;
    border-radius: 0 0 16px 16px;
    border-radius: 0 0 24px 24px;
    border-radius: 0 0 36px 36px;
    /* background-size: contain; */
    /* height: 120px; */
    margin: 0 0 40px;
    padding-bottom: 0;
}

.page-header-title {
    color: #524d70;
    font-size: 21px;
    font-size: 24px;
    font-size: 26px;
    font-family: 'Caudex', serif;
    /* text-transform: uppercase; */
    /* font-weight: 500; */
    font-weight: 400;
    letter-spacing: .25px;
    text-shadow: 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 80px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 70px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 60px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 50px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 40px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 30px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 20px #ddd9ee, 
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee,
    0px 0px 10px #ddd9ee;
}

.blog-category {
    margin: 40px 0;
}

.blog-category:first-of-type {
    margin-bottom: 0;
}

.blog-category.popular {
    margin: 40px 0 50px;
}

/* .blog-category.first {
    margin-top: 44px;
} */

.blog-category .blog-post:first-of-type {
    margin-top: 0;
}

.blog-category-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.blog-category-header i {
    font-size: 22px;
    margin-right: 20px;
    margin-right: 20px;
    color: rgb(121 119 137 / 70%);
    color: rgb(121 119 135 / 70%);
    /* color: rgb(126 125 136 / 70%); */
    padding-top: 4px;
    padding-top: 2px;
    color: #8f8aa5;
    color: #9390a2;

    color: #695fa6;
    
    color: #6f698f;
    color: #6e65a0;
    color: rgb(121 119 135 / 70%);
}

.blog-category-header i.fa-fire, .blog-category-header i.fa-crown {
    font-size: 23px;
    margin-right: 16px;
}

.category-title {
    font-size: 26px;
    font-size: 32px;
    font-weight: 200;
}

.sub-category-title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    letter-spacing: .25px;
    text-align: center;
    margin: 0;
    padding: 0 0 42px;
}

.sub-category-title i {
    margin-left: 10px;
    margin-right: 12px;
    font-size: 24px;
    font-size: 23px;
}

.blog-category-header .category-title {
    margin-bottom: 0;
    margin-top: 0;
}

.blog-category-header.my-blog {
    justify-content: space-between;
}

.empty-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-start; */
}

.empty-blog .blog-post-footer {
    margin-top: 20px;
}

.empty-blog-notice {
    padding: 12px 8px;
    padding: 14px 12px;
}

.main p.empty-blog-notice-message {
    margin-bottom: 32px;
}

.ablaze-emptyjournals-icon {
    filter: grayscale(.85);
    width: 86px;
    opacity: .3;
    margin-left: 16px;
    margin-right: 8px;
}


.container {
    max-width: 980px;
    padding-top: 52px;
}

.main {
    padding-bottom: 32px;
}

.header-image {
    border-radius: 0 0 16px 16px; 
    width: 100%;
}

.blog-post {
    background-color: white;
    border-radius: 24px;
    box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.2);
    margin: 42px auto;
    margin: 40px auto;
    padding: 32px;
    padding: 24px;
    padding: 20px;
    padding: 16px;
    padding: 14px;
    padding: 12px;
    /* padding: 10px; */
    margin: 36px auto;
    margin: 34px auto;
    transition: all .2s ease;
}

.blog-post:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
    /* background-color: #fff4e8; */
    /* background-color: rgba(121, 110, 190, 0.18); */
    /* background-color: rgba(255, 255, 255, 0.6); */
}

.blog-post:hover .blog-post-title {
    text-decoration: underline;
    /* color: #523e97; */
}

/* .blog-post:hover .blog-post-id {
    opacity: 1;
} */

.blog-post:hover .blog-post-image {
    filter: brightness(.9);
    /* filter: brightness(1.1); */
}

.blog-post-image {
    transition: all .2s ease;
    width: 100%;
    border-radius: 12px;
    border-radius: 14px;
    margin-bottom: 22px;
    margin-bottom: 20px;
}

.blog-post.empty-blog:hover {
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
}

.blog-post.empty-blog:hover .blog-post-title {
    color: #333;
    text-decoration: none;
}

.blog-post:first-child {
    margin-top: 0;
}

.blog-post:last-child {
    margin-bottom: 0;
}

/* .blog-post-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 22px;
} */

.featured-blogs .blog-post {
    display: flex;
}

.featured-blogs .blog-post-img {
    width: 40%;
    margin-right: 32px;
    margin-bottom: 0;
    border-radius: 10px;
}

/* .featured-blogs .blog-post-header {
    margin-bottom: 13px;
} */

.featured-blogs .blog-post-footer {
    margin-top: 13px;
}

.featured-blogs .blog-post-content {
    width: 60%;
}

.featured-blogs .blog-post-title {
    font-size: 20px;
}

.main p {
    margin-bottom: 20px;
    margin-bottom: 16px;
    color: #515151;
    letter-spacing: .375px;
    line-height: 1.625;
}

.main p:last-child {
    margin-bottom: 0;
}

.blog-post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-bottom: 12px;
    /* margin-bottom: 13px; */
}

.blog-post-title {
    margin-top: 0;
    font-size: 22px;    
    font-size: 24px;    
    font-size: 23px;    
    margin-bottom: 0;
    line-height: 1.25;
    text-transform: capitalize;
    letter-spacing: .25px;
    font-weight: 600;
    font-weight: 700;
    width: 85%;
}

.blog-post-id-text {
    /* font-weight: 500; */
    /* color: #796ebe; */
}


/* .blog-post-id:hover {
    opacity: 1;
} */

.popular-first {
    margin-top: 0;
    margin-bottom: 40px;
}

.blog-post.popular-first .blog-post-image {
    border-radius: 16px;
}

.popular-first .blog-post-content {
    padding: 0 6px;
    padding: 0 6px 3px 6px;
    padding: 0 10px 4px 10px;
}

.blog-post.popular .blog-post-title {
    line-height: 1.325;
    font-size: 20px;    
}

.blog-post p:last-child {
    margin-bottom: 0;
}

.blog-post-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
}

.blog-post-footer p {
    margin-bottom: 0;
    font-size: 14px;
}



.blog-post-footer p.author .by { 
    margin-right: 1px;
}

.blog-post-footer p.author a.author-link {
    font-weight: 600;
    letter-spacing: .25px;
}

.blog-post-footer p.author:hover .author-link {
    transition: all .2s ease;
}

.blog-post-footer p.author:hover .author-link::after {
    background: transparent url('../images/link-purple-2.svg') no-repeat;
    content: "";
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 6px;
    transition: all .2s ease;
    height: 14px;
    width: 14px;
    opacity: .9;
}



.anonymous-author, .nolink-author, .not-available {
    opacity: .8;
    transition: all .2s ease;
}

.anonymous-author:hover, .nolink-author:hover, .not-available:hover {
    /* opacity: 1; */
}

.date-and-blogpost-id {
    display: flex;
}

.blog-post-footer p.blog-post-id {
    font-size: 12px;
    /* opacity: 0; */
    transition: all .15s ease;
    /* color: #796ebe; */
    /* color: rgba(81, 81, 81, 0.8); */
    /* width: 15%; */
    display: flex;
    justify-content: end;
    opacity: .5;
    font-size: 12px;
}

.blog-post-id span {
    padding-left: 4px;
}

.blog-post-footer p.date {
    opacity: .5;
    /* opacity: .4; */
    letter-spacing: .4px;
    font-size: 12px;
    transition: all .15s ease;
    margin-bottom: -2px;
}

.blog-post-footer p.date:hover {
    /* opacity: .5; */
}

.h1, h1 {
    font-size: 31px;
    margin-bottom: 0;
    margin-top: 0;
}


.h2, h2 {
    font-size: 22px;
    font-weight: 300;
    color: #5d5d5d;
    letter-spacing: 1px;
    letter-spacing: 1.25px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.h3, h3 {
    margin-top: 24px;
    margin-bottom: 16px;
}

a {
    color: #796ebe;
    /* font-weight: 500; */
    text-decoration: none;
}

a:hover {
    color: #665aae;
    text-decoration: none;
}

/* a:visited, a:active {
    color: #5a4f9f;
} */

a:active {
    color: #5a4f9f;
}


.footer-content {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: -40px;
    margin-bottom: 18px;
}

footer .container {
    padding-top: 60px;
}

footer p {
    color: rgb(0 0 0 / 40%);
    font-size: 13.5px;
}

footer a:hover {
    text-decoration: none;
}

.footer-link {
    margin-right: 10px;
    color: rgb(0 0 0 / 50%);
    font-weight: 500;
    font-size: 13.5px;
}


footer .separator {
    opacity: .25;
    margin: 0 2px;
}

.app-creator {
    font-weight: 500;
    color: rgb(0 0 0 / 50%);
    margin-right: 4px;
}



.new-blog {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #b4b4b4;
    margin-bottom: 32px;
    padding-bottom: 40px;
    width: 100%;
}

.users-blog-name {
    display: flex;
    align-items: center;
    width: 100%;
}

.new-blog .users-blog-name {
    display: flex;
    align-items: center;
    width: 90%;
}

.new-blog  .blogpost-title {
    margin-right: 26px;
    margin-left: 18px;
    width: 89%;
}

.users-blog-name label {
    width: 11%;
    margin-bottom: 0;
    font-weight: 400;
}

.new-blog .main-button {
    width: 10%;
}

.new-post-form {
    margin-bottom: 1rem;
}

.new-post-form label {
    margin-bottom: 10px;
    font-weight: 400;
    color: #444;
    letter-spacing: .625px;
}

.blogpost-author-and-external-link {
    display: flex;
    margin-bottom: 42px;
}

.blogpost-external-link-wrap {
    display: flex;
    flex-direction: column;
    width: 71%;
    margin-left: 26px;
}

.blogpost-author-wrap {
    width: 29%;
}

.blogpost-content-wrap {
    display: flex;
    flex-direction: column;
    margin: 26px 0;
}

.blogpost-title, .blogpost-author, .blogpost-author-link {
    width: 100%;
    border: none;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 15px;
    color: #515151;
    line-height: 1.5;
    border-radius: 10px;
}

.blogpost-textarea {
    max-width: 100%;
    height: 360px;
    border: none;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    font-size: 15px;
    color: #515151;
    line-height: 1.5;
}

.button-list {
    display: flex;
    justify-content: space-between;
}

.main-button {
    background-color: #796ebe;
    border: 1px solid #796ebe;
    color: white;
    padding: 11px 16px;
    padding: 11px 16px 12px;
    border-radius: 8px;
    border-radius: 10px;
    border-radius: 9px;
    transition: all .1s ease;
    letter-spacing: .25px;
    height: fit-content;
    font-weight: 500;
}

.main-button:hover {
    background-color: #665aae;
    border: 1px solid #665aae;
}

.main-button:active {
    background-color: #5a4f9f;
    border: 1px solid #5a4f9f;
}

.outline-button {
    color: #796ebe;
    border: 1px solid #796ebe;
    background-color: transparent;
    padding: 11px 16px;
    border-radius: 8px;
    transition: all .1s ease;
    letter-spacing: .25px;
    height: fit-content;
    font-weight: 500;
}

.outline-button:hover {
    background-color: #665aae;
    border: 1px solid #665aae;
    color: white;
    text-decoration: none;
}

.outline-button:active {
    background-color: #5a4f9f;
    border: 1px solid #5a4f9f;
    color: white;
}

.secondary-button {
    border: 1px solid #796ebe;
    color: #796ebe;
    padding: 10px 16px;
    border-radius: 4px;
    transition: all .1s ease;
    letter-spacing: .375px;
    height: fit-content;

    border-radius: 8px;
    padding: 10px 14px;
    font-size: 14px;
    font-weight: 500;
}

.secondary-button:hover {
    background-color: #665aae;
    border: 1px solid #665aae;
    color: white;
}

.secondary-button:active {
    background-color: #5a4f9f;
    border: 1px solid #5a4f9f;
}

.secondary-button i {
    margin-right: 7px;
    font-size: 13px;
}

input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #978dc3; 
    box-shadow: 5px 5px 10px -2px rgba(103, 90, 174, 0.25);
}

input::placeholder, textarea::placeholder {
    color: #a4a4a4;
    color: #b3b3b3;
}

/*  =============== Gallery Card =============== */
.gallery-card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    margin: 32px 0;
    padding: 10px;
    width: 26%;
}

.gallery-card-img img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 12px;
}

.gallery-card-info {
    padding: 0 2px;
}

.gallery-card h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.gallery-card p {
    margin: 0;
    text-indent: 0;
}

.gallery-info-itme {
    margin-bottom: 2px;
}

.gallery-info-itme i {
    margin-right: 4px;
    opacity: .5;
}

/*  =============== CONTACT CARD =============== */
.contact-card {
    background-color: white;
    border-radius: 14px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    margin: 32px 0 0;
    padding: 10px;
    width: 43%;
    display: flex;
}

.contact-card:hover {
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.contact-card-img img {
    width: 120px;
    border-radius: 8px;
    margin-bottom: 0;
}

.contact-card-info {
    padding: 0 2px;
    padding: 6px 2px 0 14px;
}

.contact-card h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-card p {
    margin: 0;
    text-indent: 0;
}

.card-info-item {
    margin-bottom: 2px;
}

.card-info-item i {
    margin-right: 3px;
    opacity: .6;
}





.card-row {
    display: flex;
}

.card-row:first-child {
    margin-top: -16px;
}

.card-row:last-child {
    margin-bottom: -24px;
}

.author-list {
    padding-bottom: 28px;
    padding-bottom: 60px;
    padding: 35px 15px;
    padding: 30px 15px 70px;
    padding: 40px 15px 80px;
    padding: 35px 15px 75px;
    padding: 35px 0 75px;
    padding: 40px 0 80px;
    padding: 40px 0 75px;
    /* padding: 37px 0 70px; */
    border-top: 1px solid #cbcbcb;
    border-top: 2px dotted #bebebe;
    border-top: 2px dotted #bfbfbf;
    border-top: 1px dotted #b0b0b0;
    border-top: 1px dotted #b8b8b8;
    /* border-top: 2px dotted #ffffff; */
}

/* ===============* 🦄💜( AUTHOR CARD )💜🦄 *=============== */
.author-card {
    background-color: white;
    border-radius: 14px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 9px;
    transition: all .2s ease;
    width: 30%;
}

.author-card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
    /* background-color: rgb(114, 106, 135); */
    /* background-color: rgb(161, 150, 188); */
    /* background-image: linear-gradient(0deg, #5a4f7b, #9990af); */
    /* background-image: linear-gradient(0deg, #9990af, #5a4f7b); */
}


.author-card:hover .author-card-img img {
    /* transform: scaleX(-1); */
    filter: brightness(.85);
}

.author-card-img {
    /* background-color: black; */
    border-radius: 8px;
}

.author-card-img img {
    width: 100%;
    border-radius: 8px;
    transition: all .2s ease;
}

.author-card-info {
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 2px;
}

.author-card h3 {
    margin: 0;
}

.author-points-wrap {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.author-points {
    color: rgb(51 51 51 / 60%);
}

.author-point-icon {
    font-size: 13px;
    color: rgb(51 51 51 / 40%);
    margin-right: 6px;
}

/* ===========* 🦋💙( AUTHOR CARD | LARGE )💙🦋 *=========== */
.author-card.lg {
    width: 31%;
    margin: 0 24px;
    margin: 0 22px;
    border-radius: 22px;
    padding: 10px;
}

.author-card.lg:nth-child(3n+1) {
    margin-left: 0;
}

.author-card.lg:nth-child(3n+3) {
    margin-right: 0;
}

.author-card.lg .author-card-img img {
    border-radius: 16px;
}

.author-card.lg .author-card-info { 
    padding: 0 6px;
}

.author-card.lg h3 {
    font-size: 15.5px;
}

.author-card.lg .author-point-icon {
    font-size: 15px;
    margin-right: 6px;
}


/* ===========* 🐱💛( AUTHOR CARD | MEDIUM )💛🐱 *=========== */
.author-card.md {
    width: 25%;
    margin: 0 20px;
    padding: 8px;
    padding: 8.5px;
    border-radius: 20px;
}

.author-card.md:nth-child(4n+1) {
    margin-left: 0;
}

.author-card.md:nth-child(4n+4) {
    margin-right: 0;
}

.author-card:hover .author-card-img.md {
    border: none;
}

.author-card-img.md {
    margin-bottom: 0;
    border-radius: 12px;
}

.author-card-img.md img {
    border-radius: 12px;
}

.author-card.md .author-card-info {
    margin-top: 12px;
    margin-bottom: 2px;
    padding: 0 6px;
}

.author-card.md h3 {
    font-size: 15px;
    margin-bottom: 4px;
    margin-bottom: 0px;
}

.author-card.md .author-point-icon {
    font-size: 14px;
    margin-right: 6px;
}

/* ===========* 🐢💚( AUTHOR CARD | SMALL )💚🐢 *=========== */
.author-card.sm {
    width: 20%;
    margin: 0 18px;
    margin: 0 19px;
    padding: 8px;
    padding: 7.5px;
    border-radius: 18px;
}

.author-card.sm:nth-child(5n+1) {
    margin-left: 0;
}

.author-card.sm:nth-child(5n+5) {
    margin-right: 0;
}

.author-card-img.sm {
    border-radius: 9px;
    border-radius: 12px;
}

.author-card-img.sm img {
    border-radius: 12px;
}

.author-card-info.sm {
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0;
}

.author-card-info.sm .author-points-wrap {
    font-size: 13px;
}

.author-card.sm h3 {
    font-size: 14px;
    margin-bottom: 0;
}

/* .author-card-info.sm .author-points-wrap {
    font-size: 13px;
} */

.author-card-info.sm .author-point-icon {
    font-size: 13px;
    margin-right: 5px;
}

/* ===========* 🦊🧡( AUTHOR CARD | EXTRA SMALL )🧡🦊 *=========== */
.author-card.xsm {
    width: 16%;
    margin: 0 18px;
    padding: 7px;
}

.author-card.xsm:nth-child(6n+1) {
    margin-left: 0;
}

.author-card.xsm:nth-child(6n+6) {
    margin-right: 0;
}

.author-card-img.xsm {
    margin-bottom: 10px;
}

.author-card.xsm .author-card-info {
    margin-top: 10px;
}

.author-card.xsm h3 {
    font-size: 14px;
    /* margin-bottom: 4px; */
}

.author-card-info.xsm .author-points-wrap {
    font-size: 12px;
}

.author-card-info.xsm .author-point-icon {
    font-size: 13px;
    margin-right: 4px;
    margin-top: -1px;
}











.blog-post-group-two-colomn {
    display: flex;
}

.blog-post-group-two-colomn .blog-post {
    width: 50%;
    margin: 0;
    padding: 24px;
    padding: 20px;
    padding: 14px;
    padding: 12px;
    /* padding: 32px; */
}

.blog-post-group-two-colomn .blog-post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 6px;
    padding: 0 6px 3px 6px;
}

.blog-post-group-two-colomn .blog-post:nth-child(2n+1) {
    margin-right: 21px;
    width: 50%;
}

.blog-post-group-two-colomn .blog-post:nth-child(2n+2) {
    margin-left: 21px;
    width: 50%;
}

.blog-post-group-two-colomn .blog-post-img {
    margin-bottom: 18px;
}

.blog-post-group-two-colomn .blog-post-title {
    font-size: 20px;
    font-size: 21px;
    line-height: 1.375;
    width: 100%;
}


.blog-post-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.blog-category.popular .blog-post-footer p.author .by {
    margin-right: 6px;
}



.blogpost-image-file-wrap {
    margin: 32px 0 28px;
}

::-webkit-file-upload-button{
    color: #796ebe;
    border: 1px solid #796ebe;
    /* color: #8b86ae; */
    /* border: 1px solid #8b86ae; */
    background-color: transparent;
    padding: 10px 14px;
    padding: 8px 12px;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: all .1s ease;
    letter-spacing: .25px;
    height: fit-content;
    margin-right: 12px;

    background-color: #796ebe;
    border: 1px solid #796ebe;
    color: white;
}


.platinum-author {
    color: #696194;
    color: #7167a9;
    color: #52527f;
    color: #43425e;
    /* color: #4f4e68; */
    /* color: #504f62; */
}

.gold-author {
    color: #c49b53;
    color: #b38e4c;
}

.silver-author {
    color: #919191;
}

.bronze-author {
    color: #af796b;
}

.user-account {
    display: flex;
    width: 100%;
}

.account-profile-image {
    width: 20%;
}

.account-profile-image img {
    background-color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: all .2s ease;
    border-radius: 22px;
    padding: 8px;
    width: 100%;
}

.account-profile {
    width: 80%;
    padding: 0 24px;
    padding: 0 32px;
    padding: 0 36px;
    color: #333;
}

.acc-user-name {
    font-size: 22px;
    font-weight: 600; 
    margin-top: 8px;
    margin-bottom: 12px;
    margin-bottom: 15px;
    letter-spacing: .25px;
}

.acc-info-item {
    width: 100%;
    display: flex;
    padding: 4px 0;
}

.acc-admin-panel {
    padding-top: 6px;
    padding-top: 12px;
    font-size: 14px;
}

.acc-admin {
    font-weight: 500;
    font-weight: 600;
}

.acc-admin i {
    padding-left: 6px;
    padding-left: 8px;
    font-size: 13px;
    /* font-size: 14px; */
}

.acc-info-label {
    width: 17%;
    /* font-weight: 600; */
    letter-spacing: .25px;
    letter-spacing: .15px;
}

.acc-info-desc {
    width: 83%;
}



/* 
.featured-featured-blogs .blog-post .blog-post-image {
    width: 100%;
}

.featured-featured-blogs .blog-post .blog-post-content {
    width: 100%;
} */
.featured-featured-blogs .blog-post-source {
    margin-bottom: 0 !important;
}

.featured-blogs .blog-post.horizontal .blog-post-image-cover {
    width: 45%;
    margin-right: 20px;
    margin-right: 24px;
}

.featured-blogs .blog-post.horizontal .blog-post-image {
    width: 45%;
    width: 100%;
}

.featured-blogs .blog-post.horizontal .blog-post-content {
    width: 55%;
    padding: 10px 4px;
    padding: 12px 8px 10px 0;
}



/* .featured-blogs .blog-post.horizontal:first-of-type {
    background-color: rgb(195 192 220 / 40%);
    border: 1px solid rgb(195 192 220 / 40%);
}

.featured-blogs .blog-post.horizontal:first-of-type:hover {
    box-shadow: 5px 5px 15px -4px rgba(81, 78, 90, 0.5);;
    background-color: rgb(195 192 220 / 30%);
    border: 1px solid rgb(195 191 211 / 25%);
} 

.featured-blogs .blog-post.horizontal:first-of-type:hover .blog-post-image {
    filter: brightness(1);
}
*/

.featured-blogs .blog-post.horizontal:first-of-type {
    flex-flow: row-reverse;
}

.featured-blogs .blog-post.horizontal:first-of-type .blog-post-image-cover {
    width: 100%;
    width: 65%;
    width: 68%;
    /* width: 69%; */
    margin-right: 0;
    margin-left: 20px;
    margin-left: 24px;
}

.featured-blogs .blog-post.horizontal:first-of-type .blog-post-content {
    width: 100%;
    width: 35%;
    width: 32%;
    /* width: 31%; */
    padding: 12px 0 10px 8px;
    padding: 12px 0 10px 14px;
}

/* .featured-blogs .blog-post.horizontal:nth-child(2) .blog-post-image-cover {
    width: 65%;
}

.featured-blogs .blog-post.horizontal:nth-child(2) .blog-post-image-cover {
    width: 35%;
} */



.blog-post-body img {
    width: 100%;
}

.blog-post-content-image {
    margin-bottom: 16px;
}

p.blog-post-source {
    line-height: 1;
    font-size: 13.5px;
    /* color: #888; */
    /* font-style: italic; */
    margin-bottom: 8px !important;
}





.carousel-inner {
    cursor: pointer;
    border-radius: 24px;
    box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.2);
    transition: all .175s ease;
}

.carousel-inner:hover {
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.3);
}

.carousel-control-next, .carousel-control-prev {
    opacity: .6;
    width: 11%;
}

.carousel-control-next:focus, .carousel-control-next:hover, 
.carousel-control-prev:focus, .carousel-control-prev:hover {
    opacity: 1;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2.125rem;
    height: 2.125rem;
} */

.carousel-control-prev,
.carousel-control-next{
      bottom: 26%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23665aae' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236e65a0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23665aae' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236e65a0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; */
}

.blog-post.horizontal.first-featured img {
    width: 60%;
}

