/*  =============== Gallery Card =============== */
.gallery-card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.2);
    margin: 32px 0;
    padding: 10px;
    width: 26%;
}

.gallery-card-img img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 12px;
}

.gallery-card-info {
    padding: 0 2px;
}

.gallery-card h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.gallery-card p {
    margin: 0;
    text-indent: 0;
}

.gallery-info-itme {
    margin-bottom: 2px;
}

.gallery-info-itme i {
    margin-right: 4px;
    opacity: .5;
}