<% for (var i = 12; i < 18; i++) { %>
    <div class="author-card xsm">
        <div class="author-card-img xsm">
            <img src="authors/<%= author[i].image %>" alt="<%= author[i].name %>">
        </div>
        <div class="author-card-info xsm">
            <h3><%= author[i].name %></h3>
            <div class="author-points-wrap">
                <i class="fa-solid fa-crown author-point-icon bronze-author"></i>
                <span class="author-points"><%= author[i].points %></span>
            </div>
        </div>
    </div>
<% } %>
