<% for (var i = 7; i < 12; i++) { %>
    <div class="author-card sm">
        <div class="author-card-img sm">
            <img src="authors/<%= author[i].image %>" alt="<%= author[i].name %>">
        </div>
        <div class="author-card-info sm">
            <h3><%= author[i].name %></h3>
            <div class="author-points-wrap">
                <i class="fa-solid fa-crown author-point-icon silver-author"></i>
                <span class="author-points"><%= author[i].points %></span>
            </div>
        </div>
    </div>
<% } %>
