<% for (var i = 3; i < 7; i++) { %>
    <div class="author-card md">
        <div class="author-card-img md">
            <img src="authors/<%= author[i].image %>" alt="<%= author[i].name %>">
        </div>
        <div class="author-card-info md">
            <h3><%= author[i].name %></h3>
            <div class="author-points-wrap">
                <i class="fa-solid fa-crown author-point-icon gold-author"></i>
                <span class="author-points"><%= author[i].points %></span>
            </div>
        </div>
    </div>
<% } %>
