<div class="author-card lg">
    <div class="author-card-img lg">
        <img src="images/ablazelilith.png" alt="Ablaze Lilith">
    </div>
    <div class="author-card-info lg">
        <h3>Ablaze</h3>
        <div class="flare-points-wrap">
            <span class="flare-point">50,000</span>
            <!-- <i class="fa-solid fa-fire flare-point-icon"></i> -->
        </div>
        <!-- <% for (var i = 0; i < authorName.length; i++) { %>
            <h3><%= authorName[i] %></h3>
        <% } %> -->
        <!-- <div class="card-info-item lg">
            <i class="fa-solid fa-envelope"></i>
            <a href="email:ablazelilith@gmail.com">ablazelilith@gmail.com</a>
        </div> -->
        <!-- <div class="card-info-item lg">
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+66640890002">+66 64 089 0002</a>
        </div> -->
    </div>
</div>