<% for (var i = 0; i < 3; i++) { %>
    <div class="author-card lg">
        <div class="author-card-img lg">
            <img src="authors/<%= author[i].image %>" alt="<%= author[i].name %>">
        </div>
        <div class="author-card-info lg">
            <h3><%= author[i].name %></h3>
            <div class="author-points-wrap">
                <i class="fa-solid fa-crown author-point-icon platinum-author"></i>
                <span class="author-points"><%= author[i].points %></span>
            </div>
        </div>
    </div>
<% } %>
